
<div class="container-fluid">
  <div class="row">
  	<div class="col-xs-1 fix left-side">
  	  <p class="side">Home</p>
  	  <p class="side">Wall of Fame</p>
  	  <p class="side">Window Shop</p>
  	</div>
  	<div class="col-xs-10 fix newBody">
  	  <div class="row">
  	  	<div class="col-xs-8 col-xs-offset-1 fix">
  	  	  <h2 style="font-family: Avenir Next; margin-bottom: 0; color: grey; font-weight: 100; font-size: 150%">FEATURED<span style="color: #99cccc; margin-top: 0" class="head">BRAND:YOUNG</span> by YOUNG AN</h2>
  	  	</div>
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-8 col-xs-offset-1 fix">
  	  	  <img src='/images/fambum.jpg'>
  	  	</div>
  	  	<div class="col-xs-2">
  	  	  <h4 class="featured-text">"The idea of being famous is off-putting, but it would be pretty ideal for me if I were able to spread my ideas about fashion to the listening world.”</h4>
  	  	  <div>
    	  	<img src='/images/young.png' style="height: 100px">
    	  </div>
  	  	  <div style="width: 100%">
  	  	  	<a class="see-more">See brand</a>
  	  	  </div>
  	  	</div>
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-6 col-xs-offset-1 fix">
  	  		<h2 style="font-family: Avenir Next; margin-bottom: 0; color: grey; font-weight: 100; font-size: 150%">TRENDING
  	  		<span style="color: #99cccc; margin-top: 0" class="head">DESIGNERS</span></h2>
  	  	</div>
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-1 fix arrow left">
  	  	  <img src="/images/arrowright.png" style="max-height: 40px">
  	  	</div>
  	  	<div class="col-xs-2 fix">
	  	  <img src='/images/lol.jpg' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/victoria.jpg' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/cathy.jpg' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/stan.jpg' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/mept3.png' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-1 fix arrow right">
	  	  <img src="/images/arrowleft.png" style="max-height: 40px">
	  	</div>
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-offset-1">
  	  	  <h2 style="font-family: Avenir Next; font-weight: 100; font-size: 150%">POPULAR DESIGNS</h2>
  	  	</div>
  	  	<div class="row">
  	  	<div class="col-xs-1 fix arrow left">
  	  	  <img src="/images/arrowright.png" style="max-height: 40px">
  	  	</div>
  	  	<div class="col-xs-2 fix">
	  	  <img src='/images/pop1.png' style="height: 170px; width: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/pop2.png' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/pop3.png' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/pop4.png' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/pop5.png' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-1 fix arrow right">
	  	  <img src="/images/arrowleft.png" style="max-height: 40px">
	  	</div>
  	  </div>
  	  </div>
  	  <div class="row">
  		<div class="col-xs-offset-1">
  	  	  <h2 style="font-family: Avenir Next; font-weight: 100; font-size: 150%">NEW RELEASES</h2>
		</div>  	  
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-1 fix arrow left">
  	  	  <img src="/images/arrowright.png" style="max-height: 40px">
  	  	</div>
  	  	<div class="col-xs-2 fix">
	  	  <img src='/images/new1.png' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/new2.png' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/new3.png' style="height: 170px; width: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/new4.png' style="height: 170px; width: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/new5.png' style="height: 170px; width: 170px">
	  	</div>
	  	<div class="col-xs-1 fix arrow right">
	  	  <img src="/images/arrowleft.png" style="max-height: 40px">
	  	</div>
  	  </div>
  	  <div class="row">
  		<div class="col-xs-offset-1">
  	  	  <h2 style="font-family: Avenir Next; font-weight: 100; font-size: 150%">RANDOM</h2>
		</div>  	  
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-1 fix arrow left">
  	  	  <img src="/images/arrowright.png" style="max-height: 40px">
  	  	</div>
  	  	<div class="col-xs-2 fix">
	  	  <img src='/images/ran1.png' style="height: 170px; width: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/ran2.png' style="max-height: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/ran3.png' style="height: 170px; width: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/ran5.png' style="height: 170px; width: 170px">
	  	</div>
	  	<div class="col-xs-2 fix">
	  	  <img src='/images/ran4.png' style="height: 170px; width: 170px">
	  	</div>
	  	<div class="col-xs-1 fix arrow right">
	  	  <img src="/images/arrowleft.png" style="max-height: 40px">
	  	</div>
  	  </div>
  	</div>
  </div>
</div>
